[submodule "thirdparty/nanosvg"]
	path = thirdparty/nanosvg
	url = git@github.com:memononen/nanosvg.git
	branch = master
[submodule "thirdparty/nanovg"]
	path = thirdparty/nanovg
	url = git@github.com:memononen/nanovg.git
	branch = master
